
*.svn-base
*.pyc

taskcoach/.svn/dir-prop-base

taskcoach/.svn/entries

taskcoach/build.in/.svn/dir-prop-base

taskcoach/build.in/.svn/entries

taskcoach/build.in/windows/.svn/entries

taskcoach/build.in/windows/.svn/dir-prop-base

taskcoach/buildbot/.svn/entries

taskcoach/buildbot/master/.svn/entries

taskcoach/buildbot/slaves/.svn/entries

taskcoach/buildlib/.svn/dir-prop-base

taskcoach/buildlib/.svn/entries

taskcoach/extension/.svn/entries

taskcoach/taskcoachlib/bin.in/.svn/entries

taskcoach/taskcoachlib/bin.in/.svn/dir-prop-base
taskcoach/taskcoachlib/__init__.pyc
taskcoach/taskcoachlib/application/__init__.pyc
taskcoach/taskcoachlib/application/application.pyc
taskcoach/taskcoachlib/changes/__init__.pyc
taskcoach/taskcoachlib/changes/monitor.pyc
taskcoach/taskcoachlib/changes/sync.pyc
taskcoach/taskcoachlib/command/__init__.pyc
taskcoach/taskcoachlib/command/attachmentCommands.pyc
taskcoach/taskcoachlib/command/base.pyc
taskcoach/taskcoachlib/command/categorizableCommands.pyc
taskcoach/taskcoachlib/command/categoryCommands.pyc
taskcoach/taskcoachlib/command/clipboard.pyc
taskcoach/taskcoachlib/command/effortCommands.pyc
taskcoach/taskcoachlib/command/noteCommands.pyc
taskcoach/taskcoachlib/command/taskCommands.pyc
taskcoach/taskcoachlib/config/__init__.pyc
taskcoach/taskcoachlib/config/defaults.pyc
taskcoach/taskcoachlib/config/options.pyc
taskcoach/taskcoachlib/config/settings.pyc
taskcoach/taskcoachlib/domain/__init__.pyc
taskcoach/taskcoachlib/domain/attachment/__init__.pyc
taskcoach/taskcoachlib/domain/attachment/attachment.pyc
taskcoach/taskcoachlib/domain/attachment/attachmentlist.pyc
taskcoach/taskcoachlib/domain/attachment/attachmentowner.pyc
taskcoach/taskcoachlib/domain/attachment/sorter.pyc
taskcoach/taskcoachlib/domain/attribute/__init__.pyc
taskcoach/taskcoachlib/domain/attribute/color/__init__.pyc
taskcoach/taskcoachlib/domain/attribute/color/mixer.pyc
taskcoach/taskcoachlib/domain/attribute/font/__init__.pyc
taskcoach/taskcoachlib/domain/attribute/font/mixer.pyc
taskcoach/taskcoachlib/domain/attribute/icon/__init__.pyc
taskcoach/taskcoachlib/domain/base/__init__.pyc
taskcoach/taskcoachlib/domain/base/attribute.pyc
taskcoach/taskcoachlib/domain/base/collection.pyc
taskcoach/taskcoachlib/domain/base/filter.pyc
taskcoach/taskcoachlib/domain/base/object.pyc
taskcoach/taskcoachlib/domain/base/owner.pyc
taskcoach/taskcoachlib/domain/base/sorter.pyc
taskcoach/taskcoachlib/domain/categorizable/__init__.pyc
taskcoach/taskcoachlib/domain/categorizable/categorizable.pyc
taskcoach/taskcoachlib/domain/categorizable/categorizablecontainer.pyc
taskcoach/taskcoachlib/domain/category/__init__.pyc
taskcoach/taskcoachlib/domain/category/category.pyc
taskcoach/taskcoachlib/domain/category/categorycontainer.pyc
taskcoach/taskcoachlib/domain/category/filter.pyc
taskcoach/taskcoachlib/domain/category/sorter.pyc
taskcoach/taskcoachlib/domain/date/__init__.pyc
taskcoach/taskcoachlib/domain/date/date.pyc
taskcoach/taskcoachlib/domain/date/dateandtime.pyc
taskcoach/taskcoachlib/domain/date/recurrence.pyc
taskcoach/taskcoachlib/domain/date/scheduler.pyc
taskcoach/taskcoachlib/domain/date/snooze.pyc
taskcoach/taskcoachlib/domain/date/timeclass.pyc
taskcoach/taskcoachlib/domain/date/timedelta.pyc
taskcoach/taskcoachlib/domain/effort/__init__.pyc
taskcoach/taskcoachlib/domain/effort/base.pyc
taskcoach/taskcoachlib/domain/effort/composite.pyc
taskcoach/taskcoachlib/domain/effort/effort.pyc
taskcoach/taskcoachlib/domain/effort/effortlist.pyc
taskcoach/taskcoachlib/domain/effort/reducer.pyc
taskcoach/taskcoachlib/domain/effort/sorter.pyc
taskcoach/taskcoachlib/domain/note/__init__.pyc
taskcoach/taskcoachlib/domain/note/note.pyc
taskcoach/taskcoachlib/domain/note/notecontainer.pyc
taskcoach/taskcoachlib/domain/note/noteowner.pyc
taskcoach/taskcoachlib/domain/note/sorter.pyc
taskcoach/taskcoachlib/domain/task/__init__.pyc
taskcoach/taskcoachlib/domain/task/filter.pyc
taskcoach/taskcoachlib/domain/task/sorter.pyc
taskcoach/taskcoachlib/domain/task/status.pyc
taskcoach/taskcoachlib/domain/task/task.pyc
taskcoach/taskcoachlib/domain/task/tasklist.pyc
taskcoach/taskcoachlib/filesystem/__init__.pyc
taskcoach/taskcoachlib/filesystem/base.pyc
taskcoach/taskcoachlib/filesystem/fs_darwin.pyc
taskcoach/taskcoachlib/filesystem/fs_poller.pyc
taskcoach/taskcoachlib/gui/__init__.pyc
taskcoach/taskcoachlib/gui/artprovider.pyc
taskcoach/taskcoachlib/gui/dialog/__init__.pyc
taskcoach/taskcoachlib/gui/dialog/attributesync.pyc
taskcoach/taskcoachlib/gui/dialog/developer_message.pyc
taskcoach/taskcoachlib/gui/dialog/editor.pyc
taskcoach/taskcoachlib/gui/dialog/entry.pyc
taskcoach/taskcoachlib/gui/dialog/export.pyc
taskcoach/taskcoachlib/gui/dialog/iphone.pyc
taskcoach/taskcoachlib/gui/dialog/preferences.pyc
taskcoach/taskcoachlib/gui/dialog/reminder.pyc
taskcoach/taskcoachlib/gui/dialog/syncpreferences.pyc
taskcoach/taskcoachlib/gui/dialog/templates.pyc
taskcoach/taskcoachlib/gui/dialog/toolbar.pyc
taskcoach/taskcoachlib/gui/dialog/version.pyc
taskcoach/taskcoachlib/gui/dialog/xfce4warning.pyc
taskcoach/taskcoachlib/gui/icons.pyc
taskcoach/taskcoachlib/gui/idlecontroller.pyc
taskcoach/taskcoachlib/gui/iocontroller.pyc
taskcoach/taskcoachlib/gui/iphone.pyc
taskcoach/taskcoachlib/gui/mainwindow.pyc
taskcoach/taskcoachlib/gui/menu.pyc
taskcoach/taskcoachlib/gui/printer.pyc
taskcoach/taskcoachlib/gui/remindercontroller.pyc
taskcoach/taskcoachlib/gui/splash.pyc
taskcoach/taskcoachlib/gui/status.pyc
taskcoach/taskcoachlib/gui/taskbaricon.pyc
taskcoach/taskcoachlib/gui/threads.pyc
taskcoach/taskcoachlib/gui/toolbar.pyc
taskcoach/taskcoachlib/gui/uicommand/__init__.pyc
taskcoach/taskcoachlib/gui/uicommand/base_uicommand.pyc
taskcoach/taskcoachlib/gui/uicommand/mixin_uicommand.pyc
taskcoach/taskcoachlib/gui/uicommand/settings_uicommand.pyc
taskcoach/taskcoachlib/gui/uicommand/uicommand.pyc
taskcoach/taskcoachlib/gui/uicommand/uicommandcontainer.pyc
taskcoach/taskcoachlib/gui/viewer/__init__.pyc
taskcoach/taskcoachlib/gui/viewer/attachment.pyc
taskcoach/taskcoachlib/gui/viewer/base.pyc
taskcoach/taskcoachlib/gui/viewer/category.pyc
taskcoach/taskcoachlib/gui/viewer/container.pyc
taskcoach/taskcoachlib/gui/viewer/effort.pyc
taskcoach/taskcoachlib/gui/viewer/factory.pyc
taskcoach/taskcoachlib/gui/viewer/inplace_editor.pyc
taskcoach/taskcoachlib/gui/viewer/mixin.pyc
taskcoach/taskcoachlib/gui/viewer/note.pyc
taskcoach/taskcoachlib/gui/viewer/refresher.pyc
taskcoach/taskcoachlib/gui/viewer/task.pyc
taskcoach/taskcoachlib/gui/windowdimensionstracker.pyc
taskcoach/taskcoachlib/gui/wizard/__init__.pyc
taskcoach/taskcoachlib/gui/wizard/csvimport.pyc
taskcoach/taskcoachlib/help/__init__.pyc
taskcoach/taskcoachlib/help/balloontips.pyc
taskcoach/taskcoachlib/help/tips.pyc
taskcoach/taskcoachlib/help/uicommand.pyc
taskcoach/taskcoachlib/i18n/__init__.pyc
taskcoach/taskcoachlib/i18n/po2dict.pyc
taskcoach/taskcoachlib/i18n/sv.pyc
taskcoach/taskcoachlib/mailer/__init__.pyc
taskcoach/taskcoachlib/mailer/macmail.pyc
taskcoach/taskcoachlib/mailer/outlook.pyc
taskcoach/taskcoachlib/mailer/thunderbird.pyc
taskcoach/taskcoachlib/meta/__init__.pyc
taskcoach/taskcoachlib/meta/data.pyc
taskcoach/taskcoachlib/meta/debug.pyc
taskcoach/taskcoachlib/meta/developermessagechecker.pyc
taskcoach/taskcoachlib/meta/gpl.pyc
taskcoach/taskcoachlib/meta/versionchecker.pyc
taskcoach/taskcoachlib/notify/__init__.pyc
taskcoach/taskcoachlib/notify/notifier.pyc
taskcoach/taskcoachlib/notify/notifier_growl.pyc
taskcoach/taskcoachlib/notify/notifier_universal.pyc
taskcoach/taskcoachlib/operating_system.pyc
taskcoach/taskcoachlib/patterns/__init__.pyc
taskcoach/taskcoachlib/patterns/command.pyc
taskcoach/taskcoachlib/patterns/composite.pyc
taskcoach/taskcoachlib/patterns/metaclass.pyc
taskcoach/taskcoachlib/patterns/observer.pyc
taskcoach/taskcoachlib/patterns/singleton.pyc
taskcoach/taskcoachlib/persistence/__init__.pyc
taskcoach/taskcoachlib/persistence/autobackup.pyc
taskcoach/taskcoachlib/persistence/autoimporterexporter.pyc
taskcoach/taskcoachlib/persistence/autosaver.pyc
taskcoach/taskcoachlib/persistence/csv/__init__.pyc
taskcoach/taskcoachlib/persistence/csv/generator.pyc
taskcoach/taskcoachlib/persistence/csv/reader.pyc
taskcoach/taskcoachlib/persistence/csv/writer.pyc
taskcoach/taskcoachlib/persistence/html/__init__.pyc
taskcoach/taskcoachlib/persistence/html/generator.pyc
taskcoach/taskcoachlib/persistence/html/writer.pyc
taskcoach/taskcoachlib/persistence/icalendar/__init__.pyc
taskcoach/taskcoachlib/persistence/icalendar/ical.pyc
taskcoach/taskcoachlib/persistence/icalendar/writer.pyc
taskcoach/taskcoachlib/persistence/sessiontempfile.pyc
taskcoach/taskcoachlib/persistence/taskfile.pyc
taskcoach/taskcoachlib/persistence/templatelist.pyc
taskcoach/taskcoachlib/persistence/todotxt/__init__.pyc
taskcoach/taskcoachlib/persistence/todotxt/reader.pyc
taskcoach/taskcoachlib/persistence/todotxt/writer.pyc
taskcoach/taskcoachlib/persistence/xml/__init__.pyc
taskcoach/taskcoachlib/persistence/xml/reader.pyc
taskcoach/taskcoachlib/persistence/xml/templates.pyc
taskcoach/taskcoachlib/persistence/xml/writer.pyc
taskcoach/taskcoachlib/powermgt/__init__.pyc
taskcoach/taskcoachlib/powermgt/base.pyc
taskcoach/taskcoachlib/powermgt/idle.pyc
taskcoach/taskcoachlib/powermgt/macos.pyc
taskcoach/taskcoachlib/render.pyc
taskcoach/taskcoachlib/speak/__init__.pyc
taskcoach/taskcoachlib/speak/speaker.pyc
taskcoach/taskcoachlib/syncml/__init__.pyc
taskcoach/taskcoachlib/syncml/basesource.pyc
taskcoach/taskcoachlib/syncml/config.pyc
taskcoach/taskcoachlib/syncml/core.pyc
taskcoach/taskcoachlib/syncml/notesource.pyc
taskcoach/taskcoachlib/syncml/sync.pyc
taskcoach/taskcoachlib/syncml/tasksource.pyc
taskcoach/taskcoachlib/thirdparty/__init__.pyc
taskcoach/taskcoachlib/thirdparty/_weakrefset.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/__init__.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/events.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/job.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/jobstores/__init__.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/jobstores/base.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/jobstores/ram_store.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/scheduler.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/threadpool.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/triggers/__init__.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/triggers/cron/__init__.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/triggers/cron/expressions.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/triggers/cron/fields.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/triggers/interval.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/triggers/simple.pyc
taskcoach/taskcoachlib/thirdparty/apscheduler/util.pyc
taskcoach/taskcoachlib/thirdparty/aui/__init__.pyc
taskcoach/taskcoachlib/thirdparty/aui/aui_constants.pyc
taskcoach/taskcoachlib/thirdparty/aui/aui_utilities.pyc
taskcoach/taskcoachlib/thirdparty/aui/auibar.pyc
taskcoach/taskcoachlib/thirdparty/aui/auibook.pyc
taskcoach/taskcoachlib/thirdparty/aui/dockart.pyc
taskcoach/taskcoachlib/thirdparty/aui/framemanager.pyc
taskcoach/taskcoachlib/thirdparty/aui/tabart.pyc
taskcoach/taskcoachlib/thirdparty/aui/tabmdi.pyc
taskcoach/taskcoachlib/thirdparty/chardet/__init__.pyc
taskcoach/taskcoachlib/thirdparty/combotreebox.pyc
taskcoach/taskcoachlib/thirdparty/customtreectrl.pyc
taskcoach/taskcoachlib/thirdparty/dateutil/__init__.pyc
taskcoach/taskcoachlib/thirdparty/dateutil/parser.pyc
taskcoach/taskcoachlib/thirdparty/dateutil/relativedelta.pyc
taskcoach/taskcoachlib/thirdparty/dateutil/tz.pyc
taskcoach/taskcoachlib/thirdparty/dateutil/tzwin.pyc
taskcoach/taskcoachlib/thirdparty/deltaTime.pyc
taskcoach/taskcoachlib/thirdparty/desktop/__init__.pyc
taskcoach/taskcoachlib/thirdparty/gntp/__init__.pyc
taskcoach/taskcoachlib/thirdparty/gntp/notifier.pyc
taskcoach/taskcoachlib/thirdparty/guid.pyc
taskcoach/taskcoachlib/thirdparty/hypertreelist.pyc
taskcoach/taskcoachlib/thirdparty/lockfile.pyc
taskcoach/taskcoachlib/thirdparty/ntlm/__init__.pyc
taskcoach/taskcoachlib/thirdparty/ntlm/des.pyc
taskcoach/taskcoachlib/thirdparty/ntlm/des_c.pyc
taskcoach/taskcoachlib/thirdparty/ntlm/des_data.pyc
taskcoach/taskcoachlib/thirdparty/ntlm/IMAPNtlmAuthHandler.pyc
taskcoach/taskcoachlib/thirdparty/ntlm/ntlm.pyc
taskcoach/taskcoachlib/thirdparty/ntlm/U32.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/__init__.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/__init__.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/callables.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/itopicdefnprovider.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/kwargs/listenerimpl.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/kwargs/publisher.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/kwargs/publishermixin.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/kwargs/topicargspecimpl.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/kwargs/topicmgrimpl.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/listener.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/listenerbase.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/notificationmgr.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/policies.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/publisherbase.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/topicargspec.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/topicdefnprovider.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/topicexc.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/topicmgr.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/topicobj.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/topictreetraverser.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/topicutils.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/treeconfig.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/validatedefnargs.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/core/weakmethod.pyc
taskcoach/taskcoachlib/thirdparty/pubsub/pub.pyc
taskcoach/taskcoachlib/thirdparty/pyparsing.pyc
taskcoach/taskcoachlib/thirdparty/smartdatetimectrl.pyc
taskcoach/taskcoachlib/thirdparty/squaremap/__init__.pyc
taskcoach/taskcoachlib/thirdparty/squaremap/squaremap.pyc
taskcoach/taskcoachlib/thirdparty/timeline/__init__.pyc
taskcoach/taskcoachlib/thirdparty/timeline/timeline.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/__init__.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxDrawer.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxReportScheduler.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxSchedule.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxScheduler.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxSchedulerConstants.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxSchedulerCore.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxSchedulerPaint.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxSchedulerPrint.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxScheduleUtils.pyc
taskcoach/taskcoachlib/thirdparty/wxScheduler/wxTimeFormat.pyc
taskcoach/taskcoachlib/tools/__init__.pyc
taskcoach/taskcoachlib/tools/anonymize.pyc
taskcoach/taskcoachlib/widgets/__init__.pyc
taskcoach/taskcoachlib/widgets/autowidth.pyc
taskcoach/taskcoachlib/widgets/balloontip.pyc
taskcoach/taskcoachlib/widgets/calendarconfig.pyc
taskcoach/taskcoachlib/widgets/calendarwidget.pyc
taskcoach/taskcoachlib/widgets/checklistbox.pyc
taskcoach/taskcoachlib/widgets/datectrl.pyc
taskcoach/taskcoachlib/widgets/dialog.pyc
taskcoach/taskcoachlib/widgets/dirchooser.pyc
taskcoach/taskcoachlib/widgets/draganddrop.pyc
taskcoach/taskcoachlib/widgets/fontpicker.pyc
taskcoach/taskcoachlib/widgets/frame.pyc
taskcoach/taskcoachlib/widgets/itemctrl.pyc
taskcoach/taskcoachlib/widgets/listctrl.pyc
taskcoach/taskcoachlib/widgets/masked.pyc
taskcoach/taskcoachlib/widgets/notebook.pyc
taskcoach/taskcoachlib/widgets/panel.pyc
taskcoach/taskcoachlib/widgets/password.pyc
taskcoach/taskcoachlib/widgets/searchctrl.pyc
taskcoach/taskcoachlib/widgets/spinctrl.pyc
taskcoach/taskcoachlib/widgets/squaremap.pyc
taskcoach/taskcoachlib/widgets/syncmlwarning.pyc
taskcoach/taskcoachlib/widgets/textctrl.pyc
taskcoach/taskcoachlib/widgets/timeline.pyc
taskcoach/taskcoachlib/widgets/tooltip.pyc
taskcoach/taskcoachlib/widgets/treectrl.pyc
taskcoach/taskcoachlib/workarounds/__init__.pyc
taskcoach/taskcoachlib/workarounds/display.pyc
taskcoach/taskcoachlib/workarounds/exception.pyc
taskcoach/taskcoachlib/workarounds/font.pyc
